/*----- Specific Style sheet for DSCS project -----*/
/*----- 		Made By: Joke van Ede 		 -----*/

/*------------ Header ---------------*/
nav{
	background-color:#0277BD;
}
.taxi_logo{
	max-width:100px;
	max-height:100px;
}

/*------------- Section ----------*/
.col-sm-8{
	background-color:#B3E5FC;
	border-radius: 3px;
	padding: 5px;
	padding-left:15px;
	margin:3px;
}
.button_row{
	
}



/*------------- Order Taxi ----------*/
.left{
	float:left;
}
.right{
	float:right;
}


 /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 





.logo-big{
	font-size:36px;
}
label{
	min-width:50px;
}
input{
	margin-left: 10px;
	clear:right;
}
.row{
	background-attachment: #E1F5FE;
}
.taxi_button{
	min-width: 250px;
	min-height:50px;
	margin: 10px;
	font-size:22px;
	color:black;
	border-radius:6px;
	background-color:#00000;
	font-family: Arial, Helvetica, sans-serif;
}
.taxi_button:hover{
	background-color:#757575;
}
.iets{
	width: 50%;
	margin: 0 auto;
}
.option_Header{
	border-bottom:1px solid grey;
}
.option_Header h2{
	width:200px;
}


* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  /*width: 100%;*/
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
/*------------- Options --------------*/
.taxi_button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  float:right;
  text-align:center;
}

.option_header{
	
	border-bottom: 1px solid black;
	padding: 5px;
}
.option_header h2{
	max-width: 200px;
}
.option_line{
	clear:right;
}
.option_line label{
	padding-right: 10px;
	margin-right:10px;
	min-width:125px;
}
.option_line label input[type=text]{
	margin-left:10px;
}
.option_button{
	min-width: 150px;
}

/*------------*/
.input_text {
	width: 70%;
}
.modal-backdrop {
    /* bug fix - no overlay */    
    display: none;    
}

/*------------- Footer ----------*/

footer{
	background-color:#0277BD;
	color:white;
	text-align:center;
}











